# modified Allowlisting gitignore
# Ignore everything
*

!/.dockerignore
!/.gitignore
!/.gitkeep

!LICENSES/
!VERSION
!Makefile

!README.md

# one document directory to consolidate them all
!docs/**/*.md

# go
!go.sum
!go.sum.license
!go.mod

# cue
!cue.mod
!*.cue

# track
!*.yaml
!*.go

# random scripts
!scripts/opnsense.py

# but not these files or (sub)directories
!*/

# explicitly ignore
.venv/
venv/
.env
**/.terraform/**

# ignore experimentation and in-progress development
exp/
.exp/

# no logs
logs/
